<div class="small-chat-box fadeInRight animated">

    <div id="small-chat-heading" class="heading" draggable="true" style="padding:0px;height:35px">
        <!--私聊用户列表-->
        <!--<div class="heading-user text-left pull-left">
            沈躜毅
            <a class="heading-close text-right" href="javascript:void(0)" class="close-link" onclick="closeHeadingUser(this)">
                <i class="fa fa-times"></i>
            </a>
        </div>-->
    </div>

    <div id="small-chat-content" class="content">
        <!--<div class="left">
            <div class="author-name">
                Monica Jackson <small class="chat-date">
                    10:02 am
                </small>
            </div>
            <div class="chat-message active">
                Lorem Ipsum只是虚拟文本输入。
            </div>
        </div>
        <div class="right">
            <div class="author-name">
                Mick Smith
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                Lorem Ipsum 是简单的。
            </div>
        </div>-->

    </div>
    <div class="form-chat">
        <div class="input-group input-group-sm"><input id="small-chat-sendInfo" type="text" class="form-control"> <span class="input-group-btn"> <button
                        class="btn btn-primary" type="button" id="small-chat-send">发送
            </button> </span></div>
    </div>

</div>
<div id="small-chat">

    <span class="badge badge-warning pull-right">5</span>
    <a class="open-small-chat">
        <i class="fa fa-comments"></i>

    </a>
</div>